<main>
    <div class="flex flex-row w-full overflow-hidden gap-x-5 mb-5">
        <div class="animate-pulse bg-slate-500 p-3 rounded-md w-[5rem]"></div>
        <div class="animate-pulse bg-slate-500 p-3 rounded-md w-[5rem]"></div>
        <div class="animate-pulse bg-slate-500 p-3 rounded-md w-[5rem]"></div>
        <div class="animate-pulse bg-slate-500 p-3 rounded-md w-[5rem]"></div>
    </div>

    <div class="animate-pulse bg-slate-500 p-3 rounded-md w-[5rem] mb-5"></div>
    <div class="flex flex-row w-full overflow-hidden gap-x-5 mb-5">
        <div class="animate-pulse bg-slate-500 p-10 rounded-md w-[5rem]"></div>
        <div class="animate-pulse bg-slate-500 p-10 rounded-md w-[5rem]"></div>
        <div class="animate-pulse bg-slate-500 p-10 rounded-md w-[5rem]"></div>
        <div class="animate-pulse bg-slate-500 p-10 rounded-md w-[5rem]"></div>
    </div>

    <div class="animate-pulse bg-slate-500 p-3 rounded-md w-[5rem] mb-5"></div>
    <div class="flex flex-row w-full overflow-hidden gap-x-5 mb-5">
        <div class="animate-pulse bg-slate-500 p-10 rounded-md w-[5rem]"></div>
        <div class="animate-pulse bg-slate-500 p-10 rounded-md w-[5rem]"></div>
        <div class="animate-pulse bg-slate-500 p-10 rounded-md w-[5rem]"></div>
        <div class="animate-pulse bg-slate-500 p-10 rounded-md w-[5rem]"></div>
    </div>


    <div class="animate-pulse bg-slate-500 p-3 rounded-md w-[5rem] mb-5"></div>
    <div class="flex flex-row w-full overflow-hidden gap-x-5 mb-5">
        <div class="animate-pulse bg-slate-500 p-10 rounded-md w-[5rem]"></div>
        <div class="animate-pulse bg-slate-500 p-10 rounded-md w-[5rem]"></div>
        <div class="animate-pulse bg-slate-500 p-10 rounded-md w-[5rem]"></div>
        <div class="animate-pulse bg-slate-500 p-10 rounded-md w-[5rem]"></div>
    </div>
</main>
