<mat-tab-group >
    <mat-tab label="Images">
        <div class="mt-5 flex flex-col flex-wrap justify-start">
            @for(pageData of imageData; track $index){
                <p class="font-semibold">Page {{pageData.page}}</p>
                <hr>
                <section class="flex-grow p-5">
                    <div class="flex flex-row justify-start flex-wrap">
                        @for(image of pageData.images; track $index){
                            <div class=" max-w-xs max-h-xs rounded-md transition-all flex items-center hover:border-2 border-primary">
                                <img class="h-[2rem] w-[2rem]" (click)="getElementSource(img.src)" [src]="image.url" alt="Your Image" class="cursor-pointer w-full aspect-w-16 aspect-h-9 object-cover" #img>
                            </div>
                        }
                    </div>
                </section>
                }@empty {
                <p class="p-2">Fetching data...</p>
            }
        </div>
    </mat-tab>
    <mat-tab  label="Texts"> 
        <div class="mt-5 flex flex-col flex-wrap justify-start">
            @for(pageData of textData; track $index){
                @if(pageData.text){
                    <p class="font-semibold">Page {{$index + 1}}</p>
                    <hr>
                    <section class="flex-grow p-5">
                        <div (click)="addContent($event)" title="Copy Text" role="button" class="flex flex-row flex-wrap justify-start p-3 rounded-md transition-all hover:border-2 border-primary">
                            {{ pageData.text }}
                        </div>
                    </section>
                }
                }@empty {
                <p class="p-2">Fetching data...</p>
            }
        </div>
    </mat-tab>
    <mat-tab  label="Templates"> 
        <div class="mt-5 flex flex-row flex-wrap justify-start items-start">
            <button id="0" (click)="selectedTempalate(template.id)" class="p-5 rounded-lg text-black font-semibold bg-white border-2 hover:border-primary" #template>
                Default 0
            </button>
        </div>
    </mat-tab>
</mat-tab-group>