<ng-container>
    <Button (click)="addParagraph()" class="bg-dark p-2 rounded-md font-medium">
        Add a text box
    </Button>
    <p>Default text styles</p>
    <Button (click)="addHeading()" class="bg-slate-700 p-2 rounded-md font-medium text-3xl text-left">
        Add a heading
    </Button>
    <Button  (click)="addSubheading()" class="bg-slate-700 p-2 rounded-md font-medium text-xl text-left">
        Add a subheading
    </Button>
    <Button (click)="addParagraph()" class="bg-slate-700 p-2 rounded-md font-normal text-sm text-left">
        Add a little bit of body text
    </Button>

    <!-- <app-placeholder></app-placeholder> -->
</ng-container>



