<main class="bg-gray-200 h-screen ">
    <div class="flex flex-row">
        <div class="bg-customDark p-5 text-white flex flex-row justify-start items-start gap-x-5 max-h-screen">
            <div class="flex flex-col gap-y-5 w-max flex-none">
                <div role="button" (click)="openToolContent()" Class="
                    flex p-2 rounded-md flex-col items-center justify-center">
                    <img class="pointer-events-none select-none" width="30" height="30" src="https://img.icons8.com/sf-black/64/FFFFFF/menu.png" alt="text"/>
                </div>
               <div role="button" (click)="selectTool($event)" id="elements" [ngClass]="
                    {'flex p-2 rounded-md flex-col items-center justify-center':true,
                    'border border-slate-50': currentTool == 'elements'}">
                   <img class="pointer-events-none select-none" width="30" height="30" src="https://img.icons8.com/fluency-systems-regular/48/FFFFFF/shape--v1.png" alt="text"/>
                   <p class="text-sm pointer-events-none">Elements</p>
               </div>
                <div role="button" (click)="selectTool($event)" id="text" [ngClass]="
                    {'flex p-2 rounded-md flex-col items-center justify-center':true,
                     'border border-slate-50': currentTool == 'text'}">
                    <img class="pointer-events-none select-none" width="30" height="30" src="https://img.icons8.com/ios/50/FFFFFF/text.png" alt="text"/>
                    <p class="text-sm pointer-events-none">Text</p>
                </div>

                <input class="hidden" type="file" (change)="onSelectFile($event)" #fileUpload>
                
                <div
                    role="button"
                    (click)="selectTool($event)"
                    (click)="fileUpload.click()"
                    id="uploadElem" [ngClass]="
                    {'flex p-2 rounded-md flex-col items-center justify-center':true,
                    'border border-slate-50': currentTool == 'uploadElem'}">
                    <img class="pointer-events-none select-none" width="30" height="30" src="https://img.icons8.com/ios/50/FFFFFF/upload-to-cloud--v1.png" alt="upload-to-cloud--v1"/>
                    <p class="text-sm pointer-events-none">Upload</p>
                </div>
           </div>
           @if(isToolContent){
               <div class="w-[20rem] ">
                    <input type="text" placeholder="Search" class="w-full p-2 rounded-md text-black mb-5 outline-none">
                    <div class="overflow-y-auto h-full">
                        <ng-container >
                                @if(currentTool == 'elements'){
                                    <app-elements [currentTool]="currentTool" class="flex flex-col gap-y-5 w-full"></app-elements>
                                }
                                @if(currentTool ==  'uploadElem'){
                                <app-upload-elements [formData]="newForm" [currentTool]="currentTool" class="flex flex-col gap-y-5 w-full"></app-upload-elements> 
                                }
                                <!-- <app-elements class="flex flex-col gap-y-5 w-full" 
                                        *ngIf="currentTool == 'elements'">
                                </app-elements>-->
                        
                        </ng-container>
                    </div>
               </div>
           }
        </div>
        <div class="flex flex-col w-screen h-screen">
            <div class="bg-white p-3 flex flex-row justify-between items-center gap-x-2">
                <div class="flex flex-row w-full justify-start items-center">
                    <app-entity-attributes class="p-2"></app-entity-attributes> 
                </div>
                <div class="flex flex-row gap-x-2">
                    <button class="bg-customDark border text-white font-medium p-3 w-32 rounded-md">
                        Export
                    </button>
                    <!-- <button class="bg-primary text-white font-medium p-3 w-32 rounded-md">
                        Export
                    </button> -->
                </div>
            </div>
            <div (click)="canvasEvent()" class=" bg-transparent flex-grow text-center flex justify-center items-center">
                <canvas  id="app-canvas" width="800" height="400"></canvas>
            </div>
            <div class="bg-white border  n p-5 text-center flex flex-row justify-start gap-x-5">
                <!-- <ng-container *ngFor="let slide of renderSlides()">
                    <app-slides [slideId]="slide.slide" [thumbnail]="slide.thumbnail" role="button"></app-slides>
                </ng-container>
               <button (click)="addSlides()"  class="border border-slate-400 rounded-md h-[5rem] w-[9rem] flex justify-center items-center bg-slate-300">
                    <img width="50" height="50" src="https://img.icons8.com/ios/50/plus-math--v1.png" alt="plus-math--v1"/>
               </button> -->
            </div>
        </div>
    </div>
</main>
