<main class="bg-gray-200 h-screen">
    <div class="flex flex-row">
        <div class="bg-customDark w-[40%] p-5 text-white">
            <!-- code here -->
        </div>
        <div class="flex flex-col w-screen h-screen">
            <div class="bg-white n p-3 text-center flex flex-row justify-between">
                <div>
                    <!-- <canvas-attributes></canvas-attributes> -->
                </div>
                <div class="flex flex-row gap-x-2">
                    <button class="bg-customDark border text-white font-medium p-3 w-32 rounded-md">
                        Share
                    </button>
                    <button class="bg-primary text-white font-medium p-3 w-32 rounded-md">
                        Export
                    </button>
                </div>
            </div>
            <div class="bg-transparent flex-grow text-center flex justify-center items-center">
                <canvas id="app-canvas" width="800" height="400"></canvas>
            </div>
            <div class="bg-white n p-10 text-center">
                slides
            </div>
        </div>
    </div>
</main>
